body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

.navbar {
    margin-bottom: 2rem;
}

.container {
    padding: 2rem;
}

.project {
    background-color: #fff;
    margin: 1em 0;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
